Quiz/Service References/QuizServiceReference/Quiz2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuizMaker.WcfService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuizMaker.WcfService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10000/Quiz?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Quiz.Service.WcfService.Model" />
  <xs:complexType name="Test">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Quiz.Service.WcfService.Model" minOccurs="0" name="Questions" nillable="true" type="q1:ArrayOfQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Test" nillable="true" type="tns:Test" />
</xs:schema>